body {
    background-color: black;
    color: white;
    font-size: 100px;
    font-family: acidic; 
    
}


a {
    color: hotpink;
    text-decoration: none;
    padding: 0;
  margin-left: 1em;
 

    
}

dt {
    padding: 0;
  margin-left: 1em;
}

  

@font-face {
    font-family: acidic;
    src: url(/font/Acidic.TTF);
}

